{% set builder = builder ?? false %}
{% extends builder ? "_partials/matrix.twig" : "_partials/cke.twig" %}
{% set classWrapper = builder ? 'blocks blocks--slider' : 'inlines inlines--slider' %}
{% set classContent = builder ? 'blocks__full' : '' %}
{% set isCols2 = entry.grid2cols %}

{% block content %}
  <div class="embla">
    <div class="embla__viewport">
      <div class="embla__container">
        {{ entry.matrixCards.eagerly().render({ slider: true }) }}
      </div>
      <div class="embla__controls">
        <div class="embla__buttons">
          <button class="embla__prev ui-btn aspect-square p-1" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>
          <button class="embla__next ui-btn aspect-square p-1" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
        <div class="embla__dots"></div>
      </div>
    </div>
  </div>

{% endblock %}
