{% set builder = builder ?? false %}
{% extends builder ? "_partials/matrix.twig" : "_partials/cke.twig" %}
{% set classWrapper = builder ? 'blocks blocks--accordions' : 'inlines inlines--accordions' %}
{% set classContent = builder ? 'blocks__popout' : '' %}

{% block content %}
  {% include "_components/label.twig" with {
    label: "Block Accordion"
  } only %}
  <div class="border border-stone-300 rounded-md overflow-hidden" data-animate="fade-in">
    {{ entry.matrixAccordion.eagerly().render() }}
  </div>
{% endblock %}
